{% extends "layout.html" %}
{% block title %}detail{% endblock %}

{% block content %}
{% if issue %}
    <div class="page-header">
        <h1>{{ issue.subject }}</h1>
    </div>
    {% for comment in issue.comments %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ comment }}
        </div>
        <div class="panel-body">
            <p>{{ comment.body }}</p>
        </div>
    </div>
    {% endfor %}
    <form action="{{ request.path }}" method="post">
        <textarea name="new_body"></textarea>
        <input type="submit" value="submit new comment"/>
    </form>
{% else %}
    No issue.
{% endif %}
{% endblock %}

