<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Zenmai - {% block title%}{% endblock %}</title>
    </head>
    <body>
        <div class="container block-center">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <span class="navbar-brand">Zenmai - {{ config['version'] }}</span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">top</a></li>
                            <li><a href="/new/">new issue</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if session['authenticated_user_id'] %}
                                <li>{{ get_login_user() }}</li>
                                <li><a href="/user/logout/">logout</a></li>
                            {% else %}
                                <li><a href="/user/login/">login</a></li>
                                <li><a href="/user/new/">register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <ul class="list-group">
                        {% for category, message in messages %}
                            {% if category == 'warning' %}
                                <li class="list-group-item list-group-item-warning">{{ message }}</li>
                            {% elif category == 'success' %}
                                <li class="list-group-item list-group-item-success">{{ message }}</li>
                            {% else %}
                                <li class="list-group-item">{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                {% block content %}{% endblock %}
            </div>
        <div>
    </body>
</html>
