<div class="form-group">
    {% if states %}
    <label for="new_state">State</label>
    <select id="new_state" name="new_state" class="form-control">
        {% for state in states %}
        <option value="{{ state.id }}" {% if issue.state_id == state.id %}selected{% endif %}>{{ state.name }}</option>
        {% endfor %}
    </select>
    {% endif %}
</div>
<div class="form-group">
    <label for="new_body">Body</label>
    <textarea id="new_body" name="new_body" class="form-control" rows="4"></textarea>
</div>
<div class="form-group">
    <label for="new_attached_file">Attached file</label>
    <input type="file" id="new_attached_file" name="new_attached_file" />
</div>
